<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.5.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.5.min.js"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div class="container">
    <div id="urlForm">
        <div id="urlFormInput">
            <input type="text" class="urlFormText" value="">
            <input type="button" value="－" class="del urlFormBtn">
        </div>
        <input type="button" value="＋" class="add urlFormBtn">
        <input type="button" value="Search" class="sendUrl urlFormBtn">
    </div>
    <div id="datagrid" style="width: 100%; height: 70%;"></div>
</div>
</body>
</html>